.gameForm-wrapper {
display: flex;
justify-content: center;
margin-bottom: 60px;
padding-top: 54px;
}

.gameForm-form {
  margin: 15px;
  padding: 15px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.gameForm-label {
  width: 100%;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 300;
}

.gameForm-gameInput {
  border: 1px solid #E8E8E8;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  height: 45px;
  width: 60%;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: white;
}

.gameForm-gameInput:focus {
  border: 1px solid #BA55D3;
}

.gameForm-gameTitle {
  border: 1px solid #E8E8E8;
}

.gameForm-gameSkill {
  font-size: 20px;
  height: 45px;
  margin-bottom: 15px;
  border: 1px solid #E8E8E8;
  width: 25%;
  background-color: white;
}

.gameForm-gameSkill:hover {
  border: 1px solid #E8E8E8;
  cursor: pointer;
}

.gameForm-gameNumPlayers {
  border: 1px solid #E8E8E8;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  height: 45px;
  width: 25%;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: white;
}

.gameForm-gameNumPlayers:hover {
  border: 1px solid #E8E8E8;
  cursor: pointer;
}

.gameForm-gameNumPlayers:focus {
  border: 1px solid #BA55D3;
}

.gameForm-gameSport {
  font-size: 20px;
  height: 45px;
  margin-bottom: 15px;
  border: 1px solid #E8E8E8;
  width: 25%;
  background-color: white;
}

.gameForm-gameSport:hover {
  border: 1px solid #E8E8E8;
  cursor: pointer;
}

.start-end-dates {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 15px;
}

.gameForm-gameStart {
  border: 1px solid #E8E8E8;
  font-size: 20px;
  height: 45px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
}

.gameForm-gameStart:hover {
  cursor: pointer;
}

.gameForm-gameEnd {
  border: 1px solid #E8E8E8;
  font-size: 20px;
  height: 45px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
}

.gameForm-gameEnd:hover {
  cursor: pointer;
}

.gameForm-gameStart:focus {
  border: 1px solid #BA55D3;
}

.gameForm-gameEnd:focus {
  border: 1px solid #BA55D3;
}

.gameForm-gameSubmit {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: #BA55D3;
  width: 20%;
  text-align: center;
  font-size: 20px;
  height: 45px;
  box-sizing: border-box;
}

.gameForm-gameSubmit:hover {
  color: #BA55D3;
  background-color: white;
}

.gameForm-gameImageUpload {
  width: 300px;
  height: 300px;
  border: 4px dashed gray;
  display: flex;
  align-items: center;
  justify-content: center;

}
