.showGame-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 25px;
  margin-bottom: 62px;
}

.showGame-header {
  display: flex;
}

.showGame-bottom {
  display: flex;
}

.showGame-info {
  border-top: 1px solid black;
  border-right: 1px solid black;
  width: 30%;
  height: 400px;
}

.showGame-heroImage {
  border: 1px solid black;
  border-bottom: 0;
  width: 70%;
  height: 400px;
}

.showGame-players {
  border: 1px solid black;
  border-right: 0;
  width: 20%;
  height: 450px;
}

.showGame-chat {
  border: 1px solid black;
  width: 50%;
  height: 450px;
}

.showGame-locationMap {
  border: 1px solid black;
  border-left: 0;
  width: 30%;
  height: 450px;
}

.showGame-title {
  font-size: 36px;
  color: #BA55D3;
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: center;
}

.showGame-sport {
  font-size: 18px;
  padding: 10px;
}

.showGame-skill{
  font-size: 18px;
  padding: 10px;

}

.showGame-numPlayers {
  font-size: 18px;
  padding: 10px;
}

.showGame-location {
  font-size: 18px;
  padding: 10px;

}

.showGame-startDatetime {
  font-size: 18px;
  padding: 10px;

}

.showGame-endDatetime {
  font-size: 18px;
  padding: 10px;

}
