.landing-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.top-section {
  display: flex;
  height: 31.33%;
  background-color: red;
}

.mid-section {
  display: flex;
  height: 31.33%;
  background-color: white;
}

.bot-section {
  display: flex;
  height: 31.33%;
  background-color: blue;
}
