.landing-heroImage {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.landing-browseTagline {
  margin: 20px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #BA55D3;
  
}
