.nav-wrapper {
  display: flex;
  width: 100%;
  background-color: blue;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.nav-logo {
  font-size: 30px;
}

.nav-right {
  font-size: 30px;
}
